<br />
<br />
<div>
    <h5>Download Monthly Billing Report&nbsp;&nbsp;&nbsp;<i class="fa fa-download" aria-hidden="true" (click)="generatePDF('monthBillReport')" ></i></h5>
  </div>
 

<br/>
<br/>
<table class="table table-striped table-bordered" id="monthBillReport">
  <thead>
    <tr>
      <th>Customer Details</th>
      <th *ngFor="let productid of productIds">{{products[productid].productName}}</th>
      <th>Total Bill</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let customer of customerDetails">
      <td>
        Name:{{cS.allUsers[customer.mobileNumber][0].name}}<br> 
        MobileNumber:{{customer.mobileNumber}}<br> 
        Address:
        {{cS.allUsers[customer.mobileNumber][0].wing}},
        {{cS.allUsers[customer.mobileNumber][0].flatNumber}},
        {{cS.allUsers[customer.mobileNumber][0].societyName}}
      </td>
      <td *ngFor="let productid of productIds">
        <span>
          <app-product-bill [product]="deliveredProductsData[customer.mobileNumber][productid]"></app-product-bill>
        </span>           
      </td>
      <th>{{monthBill(mobileWiseData[customer.mobileNumber])}}</th>
    </tr>
  </tbody>
</table>
